nav{
    background-color: white !important;
    padding-right: 375px;
    border: none !important;
    margin-top: 15px;
}
nav .menu{
    margin-right: 300px !important;
}
nav .navbar-text{
    margin-top: 5px;
}
.navbar-brand{
    margin-left: 365px !important;
}
.navbar-brand img{
    height: 35px;
    margin-top: 0px;
}
.search-bar{
    margin-top: -45px !important;
}
banner img{
    margin-top: 30px;
    width: 100%;
}
.center{
    margin-top: 50px;
}
#company-name{
    color: #40B5FD;
}
p{
    color: #9A9A9A;
}
/*.product_pic{*/
    /*height: 200px;*/
    /*width: 245px;*/
    /*margin-bottom: 5px;*/
    /*margin-top: 20px;*/
/*}*/
/*.product_id{*/
    /*text-align: center;*/
    /*margin-left: 90px;*/
/*}*/
.pagination{
    margin-left: 370px;
    margin-bottom: 230px;
}